/* setting */
*{ margin:0; padding:0; list-style: none; text-decoration: none; box-sizing: border-box; }
.dropbox{ width: 200px; height: 50px; background:lightgray; margin-bottom:25px;}
.item{ background:green; width: 150px;   }